h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black !important;
}

a:hover {
  color: #1a8dff;
}

/*strong {
  color: #1a8dff;
}*/

.link {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.resume {
  background-color: #1f1f1f;
  min-height: 100vh;
}
.resume .main {
  height: 100%;
  width: 750px;
  background-color: #fff;
  padding: 0 25px;
  margin: 0 auto;
}
.resume .main .header {
  border-bottom: 2px solid #ddd;
}
.resume .main .header .page-title-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 7px;
}
.resume .main .header .page-title {
  font-size: 33pt; /*48*/
  display: inline;
}
.resume .main .header .page-title-first {
  font-weight: 400;
}
.resume .main .header .page-title-last {
  font-weight: 200;
}
.resume .main .header .header-icons {
  text-align: center;
}
.resume .main .header .header-icons .page-subhead {
  margin: 1rem 15px;
  display: inline;
}
.resume .main .header .fa {
  padding-right: 10px;
}
.resume .main .indented {
  padding-left: 40px;
}
.resume .main .category-row {
  padding-bottom: 1px;
}
/*.resume .main .category-row .category {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}*/
.resume .main .category-row .category-row-title {
  margin: 0.4rem 0;
  font-size: 1em;
}
.resume .main .category-row .category-title,
.resume .main .category-row .category-subtitle {
  display: inline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume .main .category-row .category-date {
  display: inline;
  margin: 0;
  font-size: 12px;
  color: #6c6c6c;
}

.resume .main .category-row .skill-item {
  display: inline;
  margin-top: 10px;
  margin-bottom: 5px;
}


.resume .main .category-row .category-bullets {
  margin-top: 2px;
  margin-bottom: 9px; /*10*/
}
.resume .main .category-row p,
.resume .main .category-row li {
  font-size: smaller;
}
/*sidebar-category:last-of-type .category {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}*/
/*category:last-of-type category-item:last-of-type .category {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}*/
